.goodInputAreaContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}

.goodActionTextInputContainer {
  width: 100%;
  background-color: #cfffff;
  height: 60px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}

.goodActionTextInput {
  width: 100%;
  background-color: #cfffff;
  border: none;
  color: #646464;
  font-size: 18px;
}

.goodActionTextInput:focus {
  border: none;
  outline: none;
}

.charLeft {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 10px;
  font-weight: bold;
  color: green;
}
