.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendarControlArrow {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
}

.calendarControlArrow:hover {
  background-color: #e6e63a;
}

.todayCalendarButton {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #e6e63a;
}

.todayCalendarButton:hover {
  background-color: #e63a3a;
  color: #fff;
}

.addGoodActionButton {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  color: #fff;
  background-color: #3ae643;
}

.addGoodActionButton:hover {
  background-color: #e6e63a;
}

.filterSuperEasy {
}

.filterEasy {
}

.filterHard {
}
