.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendarControlArrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.calendarControlArrow:hover {
  background-color: #e6e63a;
}

.todayCalendarButton {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #e6e63a;
}

.todayCalendarButton:hover {
  background-color: #e63a3a;
  color: #fff;
}
